<div class="fixed inset-0 z-50 flex items-center justify-center">
  <!-- Fundo com opacidade -->
  <div class="absolute inset-0 bg-black opacity-25"></div>

  <!-- Conteúdo do modal -->
  <div class="bg-white w-full max-w-md p-6 relative shadow-2xl">
    <!-- Cabeçalho com título e botão de fechar -->
    <div class="flex justify-between items-start mb-4">
      <h2 class="text-xl font-bold">Upload de Imagem</h2>
      <button
        class="flex items-center justify-center text-center w-auto h-7 text-white hover:text-black text-2xl p-1 -mt-2 -mr-2 shadow-xl hover:bg-white bg-black border-1 transition duration-500"
        (click)="closeModal()"
      >
        &times;
      </button>
    </div>

    <input
      type="file"
      id="fileInput"
      class="hidden"
      accept="image/*"
      (change)="onFileSelected($event)"
    />

    <label
      for="fileInput"
      class="block w-full px-4 py-2 text-center h-10 bg-black text-white hover:bg-white hover:text-black transition duration-500 border border-black cursor-pointer mb-4"
    >
      Selecionar Arquivo
    </label>

    <button
      class="w-full h-10 bg-black text-white hover:bg-white hover:text-black transition duration-500 border border-black cursor-pointer"
      (click)="uploadImage()"
      [disabled]="!selectedFile || selectedFile.name === 'empty'"
    >
      Enviar Imagem
    </button>
    <div
      *ngIf="imageData.file && imageData.file.name !== 'empty'"
      class="mt-2 text-sm"
    >
      Arquivo selecionado: {{ imageData.name }}
    </div>
    <div *ngIf="errorMessage" class="mt-2 text-sm text-red-500">
      {{ errorMessage }}
    </div>
  </div>
</div>
